@Html.AntiForgeryToken()
<!---------catagory-banner-------->
<div class="main_breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb">
                <h3>Checkout</h3>
            </div>
        </div>
    </div>
</div>
<link href="~/css/base.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<div class="mt-5">
    <!--CART START-->
    <div class="extrow full-cart format_load">
        <div class="extsm-12">
            <div class="content-shopping-cart">
                <div class="extpanel extpanel-default">
                    <div class="extpanel-heading">
                        <h4 class="extpanel-title">
                            <i class="fa fa-shopping-cart"></i> Shopping Cart
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="shopping-cart-content ext-carts min-hght">
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart-check-list">
                                        @foreach (Tienda_Linea.Models.Objetos.Carrito carrito in ViewBag.productos)
                                        {
                                            <tr>
                                                <td>@carrito.NombreProducto</td>
                                                <td>@carrito.PrecioProducto</td>
                                                <td>@carrito.Cantidad</td>
                                                <td>
                                                    <button class="btn btn-primary" onclick="aumentarCarritoTabla(@carrito.IdProducto)">+</button>
                                                    <button class="btn btn-danger" onclick="disminuirCarritoTabla(@carrito.IdProducto)">-</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CART END-->
    <div class="extrow">
        <!-- Shipping -->
        <div class="extsm-6">
            <div class="full-payment-method format_load">
                <div class="content-delivery-method">
                    <div class="extpanel extpanel-default">
                        <div class="extpanel-heading">
                            <h4 class="extpanel-title"><i class="fa fa-send"></i> Shipping Methods</h4>
                        </div>
                        <div class="miniheightclass extpanel-body delivery-method-content ext-delivery-method"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Payment Methods -->
        <div class="extsm-6">
            <div class="full-payment-method format_load">
                <div class="content-payment-method">
                    <div class="extpanel extpanel-default">
                        <div class="extpanel-heading">
                            <h4 class="extpanel-title"><i class="fa fa-credit-card"></i> Payment Methods</h4>
                        </div>
                        <div class="miniheightclass extpanel-body payment-method-content ext-payment-method"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function cargarTabla() {
        let idUsuario = document.getElementById("IdUsuario").value;
        fetch('https://localhost:44306/api/Carrito/GetCarrito/?id=' + idUsuario, {
            method: "GET",
            headers: headers,
        })
        .then((response) => response.json())
        .then(function (response) {
            let product = ""
            if (response.respuestaLista != null) {
                response.respuestaLista.forEach(element => {
                    product += "<tr>"+
                                    "<td>"+element.NombreProducto+"</td>"+
                                    "<td>"+element.PrecioProducto+"</td>"+
                                    "<td>"+element.Cantidad+"</td>"+
                                    "<td>"+
                                        "<button class='btn btn-primary' onclick='aumentarCarritoTabla("+element.IdProducto+")'>+</button>"+
                                        "<button class='btn btn-danger' onclick='disminuirCarritoTabla("+element.IdProducto+")'>-</button>"+
                                    "</td>"+
                                "</tr>"
                    document.getElementById("cart-check-list").innerHTML = product;
                })
            }
            else {
                product = "<li><p class='text-center'>¡El carrito esta vacio!</p></li>"
                document.getElementById("cart_list").innerHTML = product;
            }
        })
    }
    function aumentarCarritoTabla(idProducto) {
        idUsuario = document.getElementById("IdUsuario").value;
        fetch('https://localhost:44306/api/Carrito/AddCart', {
            method: "POST",
            headers: headers,
            body: JSON.stringify({ IdUsuario: idUsuario, IdProducto: idProducto })
        })
            .then((response) => response.json())
            .then((response) => {
                cargarCarrito()
                cargarTabla()
            })
    }

    function disminuirCarritoTabla(idProducto) {
        idUsuario = document.getElementById("IdUsuario").value;
        fetch('https://localhost:44306/api/Carrito/RestCart', {
            method: "POST",
            headers: headers,
            body: JSON.stringify({ IdUsuario: idUsuario, IdProducto: idProducto })
        })
        .then((response) => response.json())
        .then((response) => {
            cargarCarrito()
            cargarTabla()
        })
    }
</script>