@{
    ViewBag.Title = "Home Page";
}

<!--menu-->
<div class="header_menu">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav row w-100">
                            <li class="nav-item col-2">
                                @Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-link fs-3" })
                            </li>

                            @foreach (var categoria in ViewBag.categorias)
                            {
                                <li class="dropdown nav-item col-2">
                                    <a href="@Url.Action("Bicicletas", "Home", new { id = categoria.IdCategoria })" class="nav-link fs-3">
                                        @categoria.Descripcion
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--menu end-->
<div id="common-home" class="home-page">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="swiper-viewport homeslider">
                <div id="slideshow0" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center">
                            <a href="#">
                                <img src="~/image/banner1.jpg" alt="banner2"
                                     class="img-responsive" />
                            </a>
                        </div>
                        <div class="swiper-slide text-center">
                            <a href="#">
                                <img src="~/image/banner2.jpg" alt="banner1" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination slideshow0">
                </div>
                <div class="swiper-pager">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop by category -->
<div id="category" class="shop_by_category">
    <div class="container-fluid">
        <div class="comman_title text-center">
            <h2 class="wow fadeInUp">Comprar por categorias</h2>
        </div>
        <div class="product_mail-wrapper row product-section">
            <div id="category_block" class="owl-carousel">
                @foreach (Tienda_Linea.Models.Categoria categoria in ViewBag.categorias)
                {
                    <div class="product-layout col-lg-12 col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                        <div class="category-thumb transition">
                            <ul class="category_grid category_style_section">
                                <li>
                                    <figure>
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/image/png10.png" alt="Racing Bicycles"
                                                     title="Racing Bicycles" class="img-responsive" />
                                            </a>
                                        </div>
                                        <figcaption>
                                            <h3>
                                                @Html.ActionLink(categoria.Descripcion, "Bicicletas", "Home", new { id = categoria.IdCategoria }, new { @class = "text-decoration-none" })
                                            </h3>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- shop by category end-->
<!-----New product-------->
<div class="product_wrapper filtertab_back">
    <div class="container-fluid">
        <div class="row">
            <div class="comman_title wow bounceInLeft">
                <h2>Nuevos productos</h2>
            </div>
            <!-- featured products -->
            <div class="tab-content products_home_tab">
                <div class="tab-pane active" id="tab-featured">
                    <div class=" product-section product_mail-wrapper">
                        <div class="row">
                            @foreach (var product in ViewBag.productos)
                            {
                                <div class="col-4 item product-layout fadeInUp">
                                    <div class="product-thumb transition">
                                        <div class="image">
                                            <!--image -->
                                            <a href="product-header.html">
                                                <img src="~/image/png1.png" alt="Bicycle Accessories"
                                                     title="Bicycle Accessories" class="img-responsive" />
                                                <img src="~/image/png3.png" alt="Bicycle Accessories"
                                                     title="Bicycle Accessories"
                                                     class="img-responsive hover-image" />
                                            </a>
                                            <!--hover buttons -->
                                            <div class="hover-button button-group ">
                                                <button type="button" class="addtocart" data-toggle="tooltip"
                                                        data-placement="left" data-original-title="Add to Cart"
                                                        id="@product.IdProducto">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--hover buttons end-->
                                        <!--products text matter -->
                                        <div class="caption">
                                            <div class="rate-and-title">
                                                <h4>
                                                    <a href="product-header.html">@product.Nombre</a>
                                                </h4>
                                                <p class="d-flex price">$@product.Precio.ToString()</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- bestsellet products  end -->
                        <!-- special products start -->
                        <div class="tab-pane" id="tab-special">
                            <div class=" product-section product_mail-wrapper">
                                <div id="special_product_filter" class="owl-carousel">
                                </div>
                            </div>
                        </div>
                        <!-- special products end -->
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="Offer_banner_wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="banner_Offers">
                            <h3>Ofertas especiales</h3>
                            <h2><span>Just </span>Now!</h2>
                            <p class="btn-wrapper"><a href="#" class="btn btn-primary">Comprar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- testinomials start-->
        <div id="testinomials">
            <div class="testinomials text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="comman_title text-center">
                            <h3 class="wow fadeInUp">Opiniones de los clientes</h3>
                        </div>
                        <div id="testimonial0" class="owl-carousel" style="opacity: 1;">
                            <div class="col-sm-12">
                                <div class="item custom_item">
                                    <h5 class="wow fadeInUp">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.
                                        </p>
                                    </h5>
                                    <img src="~/image/adele@2x.jpg" class="img-circle" alt="Ashley Wick" />
                                    <p class="tauthor wow fadeInUp">Ashley Wick</p>
                                    <h4 class="wow fadeInUp"> - Web Developer</h4>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="item custom_item">
                                    <h5 class="wow fadeInUp">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.
                                        </p>
                                    </h5>
                                    <img src="~/image/jimi@2x.jpg" class="img-circle" alt="Jone Doe" />
                                    <p class="tauthor wow fadeInUp">Jone Doe</p>
                                    <h4 class="wow fadeInUp"> - PSD Designer</h4>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="item custom_item">
                                    <h5 class="wow fadeInUp">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.
                                        </p>
                                    </h5>
                                    <img src="~/image/steve@2x.jpg" class="img-circle" alt="Kevin" />
                                    <p class="tauthor wow fadeInUp">Kevin</p>
                                    <h4 class="wow fadeInUp"> - Web Develpor</h4>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="item custom_item">
                                    <h5 class="wow fadeInUp">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.
                                        </p>
                                    </h5>
                                    <img src="~/image/jimi@2x.jpg" class="img-circle" alt="Jimi Bloggs" />
                                    <p class="tauthor wow fadeInUp">Jimi Bloggs</p>
                                    <h4 class="wow fadeInUp"> - web developer</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/cargarCarrito.js"></script>
<script>
    $(document).on("click", ".addtocart", function () {
        var productoId = $(this).attr('id');
        url = "https://localhost:44306/api/Carrito/AgregarACarrito"

        let headers = {
            "Content-Type": "application/json",
            "Access-Control-Origin": "*",
            "Origin": "https://localhost:44306"
        }

        const data = {
            IdUsuario: "17",
            IdProducto: productoId.toString(),
            Cantidad: "1"
        }

        fetch("https://localhost:44306/api/Carrito/AgregarACarrito", {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            cargarCarrito()
        });
    });
</script>